@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins';
    background-color: #ffffff;
    background-image: radial-gradient(rgba(212, 212, 212, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}

#__nuxt {
    min-height: 100dvh;
}

:root {
    --primary: #ffd164;
    --primary-shadow: rgb(255, 209, 100, 20%);
}

.font-pacifico {
    font-family: 'Pacifico';
}
